<div class="container mt-3">
  <div class="row m-auto">
    <div class=" col m-auto">
      <div class="row text-center h-100">
        <div class="col-3"></div>
        <div class="col-6">
          <h1>修改會員資訊</h1>
        </div>
        <div class="col-3">
          <a href="/admin/members" class="btn btn-secondary mb-2 text-nowrap"
            style="width: 8vw; min-width: 5rem;">回上頁</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center mt-3">
    <div class="col-10 col-md-6 m-auto">
      <!-- 提示訊息 -->
      <%- include form-message.ejs %>
        <form action="/admin/members/<%= user.id%>?_method=PUT" method="POST">
          <!-- 會員編號 -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="member_id">會員編號</span>
            <input type="text" name="member_id" class="form-control" aria-label="member_id" aria-describedby="member_id"
              value="<%= user.memberId %>">
          </div>
          <!-- 姓名 -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="name">姓名</span>
            <input type="text" name="name" class="form-control" aria-label="name" aria-describedby="name"
              value="<%= user.name%>">
          </div>
          <!-- 登入帳號 -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="account">登入帳號</span>
            <input type="text" name="account" class="form-control" aria-label="account" aria-describedby="account"
              value="<%= user.account%>">
          </div>
          <!-- 性別 -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="gender">性別</span>
            <div class="check-group ms-3 pt-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="male" value="1"
                  <%if(user.gender==1){%>checked
                <%}%>>
                  <label class="form-check-label" for="male">男</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="female" value="0"
                  <%if(user.gender==0){%>checked<%}%>>
                  <label class="form-check-label" for="female">女</label>
              </div>
            </div>
          </div>
          <!-- 入會時間 -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="memberSince">入會時間</span>
            <input type="date" name="memberSince" class="form-control" aria-label="memberSince"
              aria-describedby="memberSince" value="<%= user.memberSince%>">
          </div>
          <!-- 會籍到期日 -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="memberExpire">會籍到期日</span>
            <input type="date" name="memberExpire" class="form-control" aria-label="memberExpire"
              aria-describedby="memberExpire" value="<%= user.memberExpire%>">
          </div>
          <!-- 會籍類型 -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="membership">會籍類型</span>
            <input type="text" name="membership" class="form-control" aria-label="membership"
              aria-describedby="membership" value="<%= user.membership%>">
          </div>
          <!-- 備註 -->
          <div class="input-group mb-3">
            <span class="input-group-text">備註</span>
            <textarea name="description" class="form-control" aria-label="text"
              style="height: 13vh;"><%= user.description%></textarea>
          </div>
          <div class="submit-back d-flex justify-content-end mb-3">
            <button type="submit" class="btn btn-primary text-nowrap" style="width: 8vw; min-width: 5rem;"
              onclick="return confirm('是否確定要修改會員資料?')">修改</button>

            <a href="/admin/members" class="btn btn-secondary ms-2 text-nowrap"
              style="width: 8vw; min-width: 5rem;">回上頁</a>
          </div>
        </form>
    </div>
  </div>
</div>