<div class="container mt-3">
  <div class="row m-auto">
    <div class=" col m-auto">
      <div class="row text-center h-100">
        <div class="col-3"></div>
        <div class="col-6">
          <h1>新增會員資訊</h1>
        </div>
        <div class="col-3">
          <a href="/admin/members-info" class="btn btn-secondary mb-2 text-nowrap"
            style="width: 8vw; min-width: 5rem;">回上頁</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center mt-3">
    <div class="col-10 col-md-6 m-auto">
      <!-- 提示訊息 -->
      <%- include form-message.ejs %>
        <form action="/admin/members-info" method="POST">
          <!-- 會員編號 -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="member_id">會員編號</span>
            <input type="text" class="form-control" name="member_id" aria-label="member_id" aria-describedby="member_id"
              value="<%= member_id%>">
          </div>
          <!-- 姓名 -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="name">姓名</span>
            <input type="text" class="form-control" name="name" aria-label="name" aria-describedby="name"
              value="<%= name%>">
          </div>
          <!-- 登入帳號 -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="account">登入帳號</span>
            <input type="text" class="form-control" name="account" aria-label="account" aria-describedby="account"
              value="<%= account%>">
          </div>

          <!-- 性別 checkbox-->
          <div class="input-group mb-3">
            <span class="input-group-text" id="gender">性別</span>
            <div class="check-group ms-3 pt-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="isMale" value="1" <%if(isMale==='1' ){%>checked<%}%>>
                  <label class="form-check-label">男</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="isMale" value="0" <%if(isMale==='0' ){%>checked<%}%>>
                  <label class="form-check-label">女</label>
              </div>
            </div>
          </div>
          <!-- 入會時間 -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="member_since">入會時間</span>
            <input type="date" name="member_since" class="form-control" aria-label="member_since"
              aria-describedby="member_since" value="<%= member_since%>">
          </div>
          <!-- 會籍到期日 -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="member_expire">會籍到期日</span>
            <input type="date" class="form-control" name="member_expire" aria-label="member_expire"
              aria-describedby="member_expire" value="<%= member_expire%>">
          </div>
          <!-- 會籍類型 -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="member_class">會籍類型</span>
            <input type="text" class="form-control" name="member_class" aria-label="member_class"
              aria-describedby="member_class">
          </div>
          <!-- 備註 -->
          <div class="input-group mb-3">
            <span class="input-group-text">備註</span>
            <textarea class="form-control" name="text" aria-label="text" style="height: 13vh;"><%= text%></textarea>
          </div>
          <div class="submit-back d-flex justify-content-end mb-3">
            <button type="submit" class="btn btn-primary text-nowrap" style="width: 8vw; min-width: 5rem;">新增</button>

            <a href="/admin/members-info" class="btn btn-secondary ms-2 text-nowrap"
              style="width: 8vw; min-width: 5rem;">回上頁</a>
          </div>
        </form>
    </div>
  </div>
</div>